{% extends 'layout.html'%}
{% load static %}
{% block content %}
<div class="wrap d-flex m0-a">
    <div class="side">
        <h1 class="fz-xl fwb">F<span class="bright">u</span>tures <br> &nbsp;&nbsp;Warbl<span class="bright">e</span>r </h1>
        <ul class="menu">
            <li class=" main--menu pt-3 pr-5 pb-3 pl-9 "><a href="/index/"><i class="fas fa-home mr-2"></i>首頁</a></li>
            <li class="main--menu pt-3 pr-5 pb-3 pl-9  "><a href="/trade/"><i class="fas fa-university mr-2"></i>模擬交易所</a></li>
            <li class="drop--menu">
                <a href="" class="main--menu pt-3 pb-3 pl-9  ">
                    <i class="fas fa-chalkboard-teacher mr-2"></i>期貨小教室<i class="fas fa-chevron-down ml-7 fz-s"></i>
                </a>
                <ul class=" d-none">
                    <li class="sub--menu"><a href="/class/">期貨基本介紹</a></li>
                    <li class="sub--menu"><a href="/index-class/">期貨指標介紹</a></li>
                </ul>
            </li>
            <li class="drop--menu">
                <a href="" class="main--menu pt-3 pb-3 pl-9 ">
                    <i class="fas fa-robot mr-2"></i>智能機器人顧問<i class="fas fa-chevron-down ml-1 fz-s"></i>
                </a>
                <ul class=" d-none">
                    <li class="sub--menu"><a href="/robot-normal/">交易策略</a></li>
                    <li class="sub--menu"><a href="/robot-intelligent/">智能交易策略</a></li>
                </ul>
            </li>
            <li class="main--menu pt-3 pr-5 pb-3 pl-9  "><a href="/news/?category=0"><i class="fas fa-newspaper mr-2"></i>新聞</a></li>
            <li class="main--menu pt-3 pr-5 pb-3 pl-9  chosed"><a href="/forum/"><i class="fas fa-comment-alt mr-2"></i>討論版</a></li>
            <li class="main--menu pt-3 pr-5 pb-3 pl-9  "><a href="/personal/"><i class="fas fa-user-alt mr-2"></i>個人頁面</a></li>
        </ul>
        <div class="circle"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
    </div>
    <div class="container pb-4">
        {% include 'login-nav.html' %}
        <div class="w-100 pl-12 pr-10 b-4">
            <div class="top d-flex jcfe mt-5 aic">
                <form action="#" class="d-flex jcfe">
                    <input type="search" name="record" id="record" placeholder="search here..." class="search_input b-n pt-2 pb-2 pl-4 pr-3  box-shadow">
                    <button class="search_btn b-n pt-2 pb-2 pl-3 pr-3  box-shadow"><i class="fas fa-search fz-s"></i></button>
                </form>  
            </div>
            <div class="forum">
                <div class="content-left fl white-bg w-60 br-m mr-4pct card-shadow  pb-4 mt-4">
                    <h3 class="fz-m fwb ml-4 mr-4 mt-4 mb-4  d-inline-block">最新貼文</h3>
                    <ul>
                        <li class="b-bottom b-top">
                            <a href="/forum-content/" class="d-flex p-5 dark-gray">
                                <div class="Avatars-l">
                                    <img src="{% static 'img/大頭貼6.jpg' %}" alt="大頭貼" class="mr-4">
                                </div>
                                
                                <div>
                                    <h3 class="fwb mb-1">懶得畫圖還想知道交易策略？ 神器TradingCentral來幫您| GKFXPrime</h3>
                                    <p class="mb-1">你或許是一個普通上班族，交易對你而言是業餘生活的投資;你或許是一個剛接觸的新手，面對紛繁複雜的行情，正在抓耳撓腮。 別怕，其實交易就是看準方向，把握多空，然後出手！...</p>
                                    <p class="fz-xs">-Brian | 2021.11.28 16:20 | <i class="fas fa-comment-alt"></i> 5 | <i class="fas fa-heart"></i> 50</p>
                                </div>
                            </a>
                        </li>
                        <li class="b-bottom">
                            <a href="/forum-content/" class="d-flex p-5 dark-gray">
                                <div class="Avatars-l">
                                    <img src="{% static 'img/大頭貼5.jpg' %}" alt="大頭貼" class="mr-4">
                                </div>
                                <div>
                                    <h3 class="fwb">【海期快訊】12月27日~12月31日國際金融焦點數據</h3>
                                    <p class="mb-1">07:50 日本零售銷售 09:30 中國工業利潤 16:00 台灣景氣對策信號 2021年12月28日(星期二) 07:30 日本失業率 07:50 日本工業生產 22:00 美國FHFA房價指數 美國S&P房價指數...</p>
                                    <p class="fz-xs">-Brian | 2021.11.28 16:20 | <i class="fas fa-comment-alt"></i> 5 | <i class="fas fa-heart"></i> 50</p>
                                </div>
                            </a>
                        </li>
                        <li class="b-bottom">
                            <a href="/forum-content/" class="d-flex p-5 dark-gray">
                                <div class="Avatars-l">
                                    <img src="{% static 'img/大頭貼7.jpg' %}" alt="大頭貼" class="mr-4">
                                </div>
                                <div>
                                    <h3 class="fwb">OPEC上調明年Q1石油需求預期 估Omicron影響不大</h3>
                                    <p class="mb-1">石油輸出國家組織 (OPEC) 周一 (13 日) 發布最新月度報告，上調明年 Q1 全球石油需求預期，但維持今、明兩年的需求預期不變，預計 Omicron 病毒不會帶來太大且長遠的影響。...</p>
                                    <p class="fz-xs">-Brian | 2021.11.28 16:20 | <i class="fas fa-comment-alt"></i> 5 | <i class="fas fa-heart"></i> 50</p>
                                </div>
                            </a>
                        </li>
                        <li class="b-bottom">
                            <a href="/forum-content/" class="d-flex p-5 dark-gray">
                                <img src="{% static 'img/大頭貼2.jpg' %}" alt="大頭貼" class="mr-4">
                                <div>
                                    <h3 class="fwb">當沖絕對不輸的方法</h3>
                                    <p class="mb-1">高人教我的當沖不敗之秘 1.需有充足的保證金 最好三口保證金沖一口，為避免過度使用保證金 勿使用當沖保證金減半 2.台指結算日太容易作弊 當日不操作...</p>
                                    <p class="fz-xs">-Brian | 2021.11.28 16:20 | <i class="fas fa-comment-alt"></i> 5 | <i class="fas fa-heart"></i> 50</p>
                                </div>
                            </a>
                        </li>
                        <li class="b-bottom">
                            <a href="/forum-content" class="d-flex p-5 dark-gray">
                                <img src="{% static 'img/大頭貼8.jpg' %}" alt="大頭貼" class="mr-4">
                                <div>
                                    <h3 class="fwb">台積電12/16周四除息</h3>
                                    <p class="mb-1">周四（16日）台積電（2330）將除息2.75元，過去外資多會事先卡位參與除息，預期股價有撐。台積電周四（16日）為今年第四次的除息交易日，現金股利發放日為111年元月13日，發放股利總金額為713億854萬餘元，每股分派現金股利2.75元，這是今年第四次、也是今年最後一次的除息交易。...</p>
                                    <p class="fz-xs">-Brian | 2021.11.28 16:20 | <i class="fas fa-comment-alt"></i> 5 | <i class="fas fa-heart"></i> 50</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="pagination d-flex jcc tac m0-a mt-4">
                        <li><a href="#" class="prev--buttom mr-2"><i class='fas fa-angle-double-left'></i></a></li>
                        <li><a href="#" class="active mr-2">1</a></li>
                        <li><a href="#" class="mr-2">2</a></li>
                        <li><a href="#"  class="mr-2">3</a></li>
                        <li><a href="#"  class="mr-2">4</a></li>
                        <li><a href="#"  class="mr-2">5</a></li>
                        <li><a href="#" class="next--buttom mr-2"><i class='fas fa-angle-double-right'></i></a></li>
                    </ul>
                </div>
                <div class="content-right fl white-bg w-35 br-m card-shadow pb-4 mt-4">
                    <h3 class="fz-m fwb ml-4 mr-4 mt-4 mb-4 d-inline-block">熱門貼文</h3>
                    <ul class="discussing--content">
                        <li><a href="/forum-content/" class="d-flex p-5 pb-11 b-bottom b-top">
                            <div class="Avatars">
                                <img src="{% static 'img/大頭貼1.jpg' %}" alt="大頭貼">
                            </div>
                            <div class="discussing--text">
                                <h3 class="dark-gray fz-s fwb">期貨界公認最強最有效的符咒</h3>
                                <p class="fz-s dark-gray">-Brian | 2021.11.28 16:20 | <i class="fas fa-comment-alt"></i> 5</p>
                            </div>
                        </a></li>
                        <li><a href="/forum-content/" class="d-flex p-5 pb-11 b-bottom">
                            <div class="Avatars">
                                <img src="{% static 'img/大頭貼2.jpg' %}" alt="大頭貼">
                            </div>
                            <div class="discussing--text">
                                <h3 class="dark-gray fz-s fwb">絕世不傳的當沖心法,參悟了便可把期貨當成提款機</h3>
                                <p class="fz-s dark-gray">-Lora | 2021.11.25 11:30 | <i class="fas fa-comment-alt"></i> 10</p>
                            </div>
                        </a></li>
                        <li><a href="/forum-content/" class="d-flex p-5 pb-11 b-bottom">
                            <div class="Avatars">
                                <img src="{% static 'img/大頭貼3.jpg' %}" alt="大頭貼">
                            </div>
                            <div class="discussing--text">
                                <h3 class="dark-gray fz-s fwb">我的當沖1分K劃法</h3>
                                <p class="fz-s dark-gray">-Alex | 2021.11.20 20:40 | <i class="fas fa-comment-alt"></i> 8</p>
                            </div>
                        </a></li>
                        <li><a href="/forum-content/" class="d-flex p-5 pb-11 b-bottom">
                            <div class="Avatars">
                                <img src="{% static 'img/大頭貼4.jpg' %}" alt="大頭貼">
                            </div>
                            <div class="discussing--text">
                                <h3 class="dark-gray fz-s fwb">你是專職的交易員嗎?</h3>
                                <p class="fz-s dark-gray">-Linda | 2021.11.01 00:05 | <i class="fas fa-comment-alt"></i> 7</p>
                            </div>
                        </a></li>
                    </ul>
                </div>
                <a href="/forum-write/" class="write"><img src="{% static 'img/edit.png' %}" alt="發文"></a>
            </div>
        </div>
</div>
{% endblock %}