{% extends 'layout.html'%}
{% load static %}
{% block content %}
<div class="wrap d-flex m0-a">
    <div class="side">
        <h1 class="fz-xl fwb">F<span class="bright">u</span>tures <br> &nbsp;&nbsp;Warbl<span class="bright">e</span>r </h1>
        <ul class="menu">
            <li class=" main--menu pt-3 pr-5 pb-3 pl-9  "><a href="/index/"><i class="fas fa-home mr-2"></i>首頁</a></li>
            <li class="main--menu pt-3 pr-5 pb-3 pl-9  "><a href="/trade/"><i class="fas fa-university mr-2"></i>模擬交易所</a></li>
            <li class="drop--menu">
                <a href="" class="main--menu pt-3 pb-3 pl-9">
                    <i class="fas fa-chalkboard-teacher mr-2"></i>期貨小教室<i class="fas fa-chevron-down ml-1 fz-s"></i>
                </a>
                <ul class=" d-none">
                    <li class="sub--menu"><a href="/class/">期貨基本介紹</a></li>
                    <li class="sub--menu"><a href="/index-class/">期貨指標介紹</a></li>
                </ul>
            </li>
            <li class="drop--menu">
                <a href="" class="main--menu pt-3 pb-3 pl-9">
                    <i class="fas fa-robot mr-2"></i>智能機器人顧問<i class="fas fa-chevron-down ml-1 fz-s"></i>
                </a>
                <ul class=" d-none">
                    <li class="sub--menu"><a href="/robot-normal/">交易策略</a></li>
                    <li class="sub--menu"><a href="/robot-intelligent/">智能交易策略</a></li>
                </ul>
            </li>
            <li class="main--menu pt-3 pr-5 pb-3 pl-9  "><a href="/news/"><i class="fas fa-newspaper mr-2 "></i>新聞</a></li>
            <li class="main--menu pt-3 pr-5 pb-3 pl-9  chosed"><a href="/forum/"><i class="fas fa-comment-alt mr-2"></i>討論版</a></li>
            <li class="main--menu pt-3 pr-5 pb-3 pl-9  "><a href="/personal-page/"><i class="fas fa-user-alt mr-2"></i>個人頁面</a></li>
        </ul>
        <div class="circle"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
    </div>
    <div class="container">
        {% if ok == '' %}
        <ul class="header d-flex jcfe card-shadow text-shadow p-3">
                <li><a href="/login/" class="header__login--button dark-gray  mr-2 tac br-s fwb"><i class="fas fa-sign-in-alt mr-3"></i>登入</a></li>
        </ul>
        {% else %}
        <ul class="header d-flex jcfe card-shadow text-shadow p-1 aic ">
                <li>
                    <a href="" class="add--money--hover fz-s mr-2 fwbr d-flex  aic dark-gray">
                        <i class="fas fa-piggy-bank fz-m mr-2"></i>
                        <div>
                            <p class="mr-2 tar"><span class="mr-2">800,000</span>(TWD)<span class="mr-2 ml-2">30,000</span>(USD)</p>
                            <p>可用餘額</p>
                        </div>
                    </a>
                </li>
                <li class="fz-s mr-3 fwbr d-flex  aic ">
                    <div class="loginned_photo mr-2">
                        <img src="../static/userimg/{{photo}}" alt="會員大頭貼">
                    </div>
                    <p>Hi, &nbsp;&nbsp;{{username}}</p>
                </li>
                
                <form action="/logout/" method="post">
                {% csrf_token %}
                <input type ="hidden" name = "logout" value="logout">
                <li><input type="submit" value="登出" class="header__logout--button dark-gray  mr-2 tac br-s fwb"></li>
                </form>
            </ul>
        {% endif %}
        <div class="pl-12 pr-10 b-4 mt-7">
            <div class="forum-write white-bg w-80 br-m card-shadow p-4">
                <h3 class="fz-m fwb tac mb-4">發文版</h3>
                <div class="forum-write-main white-bg p-5 b-top">
                    <div class="user d-flex aic mb-4">
                        <img src="{% static 'img/大頭貼2.jpg' %}" alt="大頭貼" class="mr-4">
                        <div class="user-content">
                            <h4>Emily</h4>
                        </div>
                    </div>
                    <form action="#" method="#" class="">
                        <label for="title" class="fz-m d-block mb-2 fwb">文章標題</label>
                        <input type="text" placeholder="標題..." class="article-title mb-6 p-2 d-block fz-s" id="title">
                        <label for="content" for="content" class="fz-m d-block mb-2 fwb">文章內容</label>
                        <textarea name="content" id="content" placeholder="內容..." class="mb-5 p-2 d-block fz-s"></textarea>
                        <label for="file" class="fz-m d-block mb-2 fwb">上傳程式碼</label>
                        <textarea name="content" id="file" placeholder="內容..." class="mb-5 p-2 d-block fz-s"></textarea>
                        <div class="d-flex jcfe">
                            <input type="submit" value="確認送出" class="submit fwb p-3 fz-s">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}