{% extends 'layout.html'%}
{% load static %}
{% block content %}
<div class="wrap d-flex m0-a">
    <div class="side">
        <h1 class="fz-xl fwb">F<span class="bright">u</span>ture <br> &nbsp;&nbsp;Warbl<span class="bright">e</span>r </h1>
        <ul class="menu">
            <li><a href="index/"><i class="fas fa-home mr-2"></i>首頁</a></li>
            <li><a href="trade/"><i class="fas fa-university mr-2"></i>模擬交易所</a></li>
            <li><a href="class/"><i class="fas fa-chalkboard-teacher mr-2"></i>期貨小教室</a></li>
            <li><a href="#"><i class="fas fa-robot mr-2"></i>智能機器人顧問</a></li>
            <li><a href="news/"><i class="fas fa-newspaper mr-2"></i>新聞</a></li>
            <li><a href="forum/"><i class="fas fa-comment-alt mr-2"></i>討論版</a></li>
            <li><a href="personal/"><i class="fas fa-user-alt mr-2"></i>個人頁面</a></li>
        </ul>
    </div>
    <div class="forum-content container">
        <ul class="header--button d-flex jcfe">
            <li><a href="login/" class="header__login--button fz-s tac mr-3">登入</a></li>
            <li><a href="register/" class="header__register--button fz-s tac">註冊</a></li>
        </ul>
        <div class="topnav d-flex jcsb aic mt-15 mb-6 pr-4">
            <ul class="d-flex fwb">
                <li><a href="#" class="d-inline-block pt-3 pb-3 pl-4 pr-4 mr-2">熱門貼文</a></li>
                <li><a href="#" class="d-inline-block pt-3 pb-3 pl-4 pr-4">最新貼文</a></li>
            </ul>
            <form action="#" class="search topnav d-flex jcsb aic">
                <input type="search" placeholder="請輸入關鍵字.." class="d-inline-block p-2" name="search">
                <button class="d-inline-block white-bg p-2" type="submit"><i class='fas fa-search d-inline-block' style="font-size: 18px;"></i></button>
            </form>
        </div>
        <div class="article p-4 white-bg">
            <div class="user d-flex aic mb-4">
                <img src="{% static 'img/大頭貼2.jpg' %}" alt="大頭貼2" class="mr-4">
                <div class="user-content">
                    <h4>Emily</h4>
                    <p class="fz-xs">22 小時前</p>
                </div>
            </div>
            <h3 class="title fz-l fwb mt-2 mb-3">如何突破思考慣性，掌握反敗為勝關鍵？</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste praesentium perspiciatis fugiat illum exercitationem! Officia inventore vitae quaerat temporibus, odit, eum eos voluptatum nemo consectetur voluptatem iste veritatis veniam necessitatibus.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod ullam magnam pariatur reprehenderit veniam quibusdam dolorum? Non, unde? Laborum cupiditate quia aspernatur laboriosam unde necessitatibus suscipit possimus, nesciunt expedita commodi?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis ea voluptate animi itaque laudantium, officia possimus consequatur ducimus porro eius corrupti ad, dolor incidunt! Laudantium suscipit nostrum eveniet dicta natus?</p>
            <div class="code mt-4 p-5">
                <h2 class="mb-2 fz-m fwb">程式範例：</h2>
                <p class="white-bg p-4">
                    lorem .....<br>
                    lorem .....<br>
                    lorem .....<br>
                    lorem .....<br>
                </p>
                <a href="#" class="d-inline-block p-2 fz-s mt-3">下載檔案</a>
            </div>
            <ul class="prise mt-4 d-flex">
                <li class="mr-3"><a href="#"><i class="fas fa-comment-alt mr-2" style="font-size: 20px;"></i></a>留言數 5</li>
                <li><a href="#"><i class="fas fa-heart mr-2" style="font-size: 20px;"></i></a>喜歡 50</li>
            </ul>
            <hr class="mt-3">
        </div>
        <div class="message p-4 white-bg">
            <h4 class="fz-m mb-1 fwb">全部留言</h4>
            <div class="message-nav d-flex jcsb mb-3">
                <ul class="filter d-flex">
                    <li><a href="#" class="d-inline-block p-2 mr-2 fz-s">由新至舊</a></li></a>
                    <li><a href="#" class="d-inline-block p-2 fz-s">由舊至新</a></li></a>
                </ul>
            </div>
            <ul>
                <li class="user d-flex border-bottom pt-4 pb-4">
                    <img src="{% static 'img/大頭貼2.jpg' %}" alt="大頭貼2" class="mr-4">
                    <div class="user-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, iusto magni harum natus quos enim? Ratione soluta ut natus ducimus possimus, sequi magnam.</p>
                        <p class="fz-xs">Emily｜22 小時前</p>
                    </div>
                </li>
                <li class="user d-flex border-bottom pt-4 pb-4">
                    <img src="{% static 'img/大頭貼2.jpg' %}" alt="大頭貼2" class="mr-4">
                    <div class="user-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, iusto magni harum natus quos enim? Ratione soluta ut natus ducimus possimus, sequi magnam.</p>
                        <p class="fz-xs">Emily｜22 小時前</p>
                    </div>
                </li>
                <li class="user d-flex border-bottom pt-4 pb-4">
                    <img src="{% static 'img/大頭貼2.jpg' %}" alt="大頭貼2" class="mr-4">
                    <div class="user-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, iusto magni harum natus quos enim? Ratione soluta ut natus ducimus possimus, sequi magnam.</p>
                        <p class="fz-xs">Emily｜22 小時前</p>
                    </div>
                </li>
                <li class="user d-flex border-bottom pt-4 pb-4">
                    <img src="{% static 'img/大頭貼2.jpg' %}" alt="大頭貼2" class="mr-4">
                    <div class="user-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, iusto magni harum natus quos enim? Ratione soluta ut natus ducimus possimus, sequi magnam.</p>
                        <p class="fz-xs">Emily｜22 小時前</p>
                    </div>
                </li>
                <li class="user d-flex border-bottom pt-4 pb-4">
                    <img src="{% static 'img/大頭貼2.jpg' %}" alt="大頭貼2" class="mr-4">
                    <div class="user-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, iusto magni harum natus quos enim? Ratione soluta ut natus ducimus possimus, sequi magnam.</p>
                        <p class="fz-xs">Emily｜22 小時前</p>
                    </div>
                </li>
                <li class="user pt-4 pb-4">
                    <form action="#" class="leave-message d-flex">
                        <img src="{% static 'img/大頭貼2.jpg' %}" alt="大頭貼2" class="mr-2">
                        <input type="text" placeholder="留言..." class="d-inline-block p-2" name="text">
                        <button class="d-inline-block white-bg p-2 pl-4 pr-4" type="submit">提交</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}