{% extends 'layout.html'%}
{% load static %}
{% block content %}
<div class="wrap gray-bg d-flex m0-a">
    <div class="side">
        <h1 class="fz-xl fwb">F<span class="bright">u</span>ture <br> &nbsp;&nbsp;Warbl<span class="bright">e</span>r </h1>
        <ul class="menu">
            <li><a href="index.html"><i class="fas fa-home mr-2"></i>首頁</a></li>
            <li><a href=""><i class="fas fa-university mr-2"></i>模擬交易所</a></li>
            <li><a href="class.html"><i class="fas fa-chalkboard-teacher mr-2"></i>期貨小教室</a></li>
            <li><a href=""><i class="fas fa-robot mr-2"></i>智能機器人顧問</a></li>
            <li><a href="news.html"><i class="fas fa-newspaper mr-2"></i>新聞</a></li>
            <li><a href="forum.html"><i class="fas fa-comment-alt mr-2"></i>討論版</a></li>
            <li><a href=""><i class="fas fa-user-alt mr-2"></i>個人頁面</a></li>
        </ul>
    </div>
    <div class="container bg-img">
        <ul class="header--button d-flex jcfe  text-shadow">
            <li><a href="login.html" class="header__login--button dark-gray  mr-2 tac br-s">登入</a></li>
            <li><a href="register.html" class="header__register--button dark-gray  mr-2 tac br-s">註冊</a></li>
        </ul>
        <ul class="index_content mt-7 w-100">
            <li class="fl second-white-bg w-60 br-m mr-4pct pb-5">
                <div class="product--title white-bg p-4 mb-4 d-flex jcsb aic">
                    <h2><i class="fas fa-list mr-2"></i>商品行情表</h2>
                    <a class="more dark-gray" href="">more...</a>
                </div>
                <table class="product--content m0-a tal w-90 fz-xs">
                    <tr>
                        <th class="fwb">期貨</th>
                        <th class="fwb">月</th>
                        <th class="fwb">漲跌</th>
                        <th class="fwb">漲跌幅</th>
                        <th class="fwb">時間</th>
                    </tr>
                    <tr class="yellow-bg">
                        <td>台指期</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>小道瓊</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr class="yellow-bg">
                        <td>小那斯達克</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                    <tr>
                        <td>小S&P</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </table>
            </li>
            <li class="fl second-white-bg w-35 br-m pb-4">
                <div class="chart--title p-4 mb-4 white-bg d-flex jcsb aic">
                    <h2><i class="fas fa-chart-line mr-2"></i>大盤走勢圖</h2>
                    <a class="more dark-gray" href="">more...</a>
                </div>
                <!--到時候抓照片可能會條寬度-->
                <img src="img/假圖-大盤走勢圖.png" alt="走勢圖" class="m0-a w-80 h-60">
            </li>
            <li class="fl second-white-bg w-60 br-m mr-4pct pb-4 mt-6 ">
                <div class="news--title p-4 mb-4 white-bg d-flex jcsb aic">
                    <h2><i class="fas fa-newspaper mr-2"></i>新聞快訊</h2>
                    <a class="more dark-gray" href="">more...</a>
                </div>
                <ul class="news--content">
                    <li><a href="" class="d-flex jcsb p-5">
                        <img src="img/假圖-新聞圖片.jpg" alt="新聞圖片" class="w-20 mr-4">
                        <div class="news--text">
                            <h3 class="fz-s green fwb">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p class="fz-s dark-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra ultricies dui massa ultricies neque. Quam nec tempus tellus nulla congue aliquet ...</p>
                        </div>
                    </a></li>
                    <li><a href="" class="d-flex jcsb p-5">
                        <img src="img/假圖-新聞圖片.jpg" alt="新聞圖片" class="w-20 mr-4">
                        <div class="news--text">
                            <h3 class="fz-s green fwb">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p class="fz-s dark-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra ultricies dui massa ultricies neque. Quam nec tempus tellus nulla congue aliquet ...</p>
                        </div>
                    </a></li>
                    <li><a href="" class="d-flex jcsb p-5">
                        <img src="img/假圖-新聞圖片.jpg" alt="新聞圖片" class="w-20 mr-4">
                        <div class="news--text">
                            <h3 class="fz-s green fwb">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p class="fz-s dark-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra ultricies dui massa ultricies neque. Quam nec tempus tellus nulla congue aliquet ...</p>
                        </div>
                    </a></li>
                    <li><a href="" class="d-flex jcsb p-5">
                        <img src="img/假圖-新聞圖片.jpg" alt="新聞圖片" class="w-20 mr-4">
                        <div class="news--text">
                            <h3 class="fz-s green fwb">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p class="fz-s dark-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi viverra ultricies dui massa ultricies neque. Quam nec tempus tellus nulla congue aliquet ...</p>
                        </div>
                    </a></li>
                </ul>
            </li>
            <li class="fl second-white-bg w-35 br-m mt-6 pb-4">
                <div class="discussing--title p-4 mb-4 white-bg d-flex jcsb aic">
                    <h2><i class="fas fa-comment-alt mr-2"></i>討論版</h2>
                    <a class="more dark-gray" href="">more...</a>
                </div>
                <ul class="discussing--content">
                    <li><a href="" class="d-flex jcsb p-5 pb-11">
                        <div class="Avatars">
                            <img src="img/大頭貼1.jpg" alt="大頭貼1">
                        </div>
                        <div class="discussing--text">
                            <h3 class="green fz-s fwb">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p class="fz-s dark-gray">-Brian | 2021.11.28 16:20 | <i class="fas fa-comment-alt"></i> 5</p>
                        </div>
                    </a></li>
                    <li><a href="" class="d-flex jcsb p-5 pb-11">
                        <div class="Avatars">
                            <img src="img/大頭貼2.jpg" alt="大頭貼2">
                        </div>
                        <div class="discussing--text">
                            <h3 class="green fz-s fwb">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p class="fz-s dark-gray">-Lora | 2021.11.25 11:30 | <i class="fas fa-comment-alt"></i> 10</p>
                        </div>
                    </a></li>
                    <li><a href="" class="d-flex jcsb p-5 pb-11">
                        <div class="Avatars">
                            <img src="img/大頭貼3.jpg" alt="大頭貼3">
                        </div>
                        <div class="discussing--text">
                            <h3 class="green fz-s fwb">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p class="fz-s dark-gray">-Alex | 2021.11.20 20:40 | <i class="fas fa-comment-alt"></i> 8</p>
                        </div>
                    </a></li>
                    <li><a href="" class="d-flex jcsb p-5 pb-11">
                        <div class="Avatars">
                            <img src="img/大頭貼4.jpg" alt="大頭貼4">
                        </div>
                        <div class="discussing--text">
                            <h3 class="green fz-s fwb">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
                            <p class="fz-s dark-gray">-Linda | 2021.11.01 00:05 | <i class="fas fa-comment-alt"></i> 7</p>
                        </div>
                    </a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<a class="robot" href="#">
    
</a>
{% endblock %}