<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Warbler-帳戶登入</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/robot.jpg' %}" type="image/x-icon">
    <meta name='description' content="Future Warbler" />
    <meta name="keywords" content="期貨, 期貨模擬交易, 智能機器人, Future Warbler">
    <meta property="og:title" content="Future Warbler" />
    <meta property="og:description" content="期貨模擬交易平台">
    <meta property="og:type" content="website" /> 
    <meta property="og:url" content="FB上的網址" />
    <meta property="og:image" content="{% static 'img/robot.jpg' %}"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="login wrap d-flex jcc">
        <div class="fz-xxl fwb pl-27 w-50 pt-33 pb-33">
            <h2 class="mb-2">歡迎光臨</h2>
            <h1 class="ml-8 lh-s">F<span class="second-yellow">u</span>ture <br> &nbsp;&nbsp;&nbsp;&nbsp;Warbl<span class="second-yellow">e</span>r </h1>
            <img src="{% static 'img/robot-little.png' %}" class="w-35 fr mr-20" alt="小型機器人">
            <div class="clearfix"></div>
        </div>
        <div class="login_form p-6 w-50 pt-33 pb-33">
            <div class="w-80 m0-a pl-5">
                <h2 class="fz-xxl fwb mb-8 second-white">Login</h2>
                <form action="." class="w-80">
                    <label for="account" class="second-white fwbr">帳戶</label>
                    <input type="text" name="account" id="account" class="d-block w-100 br-s mt-2 mb-4 p-1 b-n">
                    <label for="password" class="second-white fwbr">密碼</label>
                    <input type="text" name="password" id="password" class="d-block w-100 br-s mt-2 mb-5 p-1 b-n">
                    <div class="login--btn d-flex jcsb ">
                        <input type="button" value="Back" class="w-48 d-block b-n br-s p-2 fz-m text-shadow back_btn dark-gray">
                        <input type="button" value="Login" id="login_success" class="w-48 d-block b-n br-s p-2 fz-m second-yellow-bg text-shadow login_btn dark-gray">
                    </div>
                    <p class="second-white fr mt-2">尚未成為會員?<a href="/register/" class="second-white go_register">前往註冊</a></p>
                    <div class="clearfix"></div>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script>
document.getElementById("login_success").addEventListener("click",function(){
    swal("登入成功!", "您將被帶回頁面首頁!", "success");
  });
</script>
