{% extends 'layout.html'%}
{% load static %}
{% block content %}
<div class="wrap d-flex m0-a">
    <div class="side">
            <h1 class="fz-xl fwb">F<span class="bright">u</span>tures <br> &nbsp;&nbsp;Warbl<span class="bright">e</span>r </h1>
            <ul class="menu">
                <li class=" main--menu pt-3 pr-5 pb-3 pl-9 "><a href="/index/"><i class="fas fa-home mr-2"></i>首頁</a></li>
                <li class="main--menu pt-3 pr-5 pb-3 pl-9  "><a href="/trade"><i class="fas fa-university mr-2"></i>模擬交易所</a></li>
                <li class="drop--menu">
                    <a href="" class="main--menu pt-3 pb-3 pl-9  ">
                        <i class="fas fa-chalkboard-teacher mr-2"></i>期貨小教室<i class="fas fa-chevron-down ml-7 fz-s"></i>
                    </a>
                    <ul class=" d-none">
                        <li class="sub--menu"><a href="/class/">期貨基本介紹</a></li>
                        <li class="sub--menu"><a href="/index-class/">期貨指標介紹</a></li>
                    </ul>
                </li>
                <li class="drop--menu">
                    <a href="" class="main--menu pt-3 pb-3 pl-9 ">
                        <i class="fas fa-robot mr-2"></i>智能機器人顧問<i class="fas fa-chevron-down ml-1 fz-s"></i>
                    </a>
                    <ul class=" d-none">
                        <li class="sub--menu"><a href="/robot-normal/">交易策略</a></li>
                        <li class="sub--menu"><a href="/robot-intelligent/">智能交易策略</a></li>
                    </ul>
                </li>
                <li class="main--menu pt-3 pr-5 pb-3 pl-9  "><a href="/news/?category=0"><i class="fas fa-newspaper mr-2"></i>新聞</a></li>
                <li class="main--menu pt-3 pr-5 pb-3 pl-9  "><a href="/forum/"><i class="fas fa-comment-alt mr-2"></i>討論版</a></li>
                <li class="main--menu pt-3 pr-5 pb-3 pl-9  chosed"><a href="/personal/"><i class="fas fa-user-alt mr-2"></i>個人頁面</a></li>
            </ul>
            <div class="circle"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
        </div>
    <div class="container pb-4">
        {% include 'login-nav.html' %}
        <div class="personal--page__content mt-4 w-100 pl-12 pr-10 b-4">
            <div class="fl second-white-bg w-65 br-m mr-3pct drop-shadow pt-4 pb-6 pl-8 pr-8">
                <h2 class="mb-8"><i class="fas fa-user mr-3"></i>個人資訊</h2>
                <div class="personal--information__content d-flex">
                    <div class="Avatars">
                        <img src="../static/userimg/{{photo}}" alt="會員大頭貼">
                    </div>
                    <ul class="ml-16">
                        <li class="mb-1">{{userid}}</li>
                        <li class="mb-1">{{username}}</li>
                        <li class="fz-s mb-1">{{gender}}</li>
                        <li class="fz-s mb-1">{{birth}}</li>
                    </ul>
                    <ul class="ml-28 fz-s">
                        <li class="mb-1">手機&nbsp;&nbsp;&nbsp;{{phone}}</li>
                        <li class="mb-1">信箱&nbsp;&nbsp;&nbsp;{{mail}}</li>
                    </ul>
                </div>
                <!-- Button trigger modal -->
                <a href="" class="fr personal__btn dark-gray b-n mt-7 fwb" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">修改</a>
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header p-3">
                            <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-user-edit mr-3  ml-5"></i>個人資料修改</h5>
                            <button type="button" class="b-n close__btn" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times fz-s"></i></button>
                            </div>
                                <div class="modal-body  p-4  gray-bg">
                                    <div class=" w-80 m0-a">
                                            <!-- 3.修改資料 -->
                                            <form action="/update/"  method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input name= 'update' type="hidden" value= 'others'>
                                                <label for="account" class="dark-gray fz-s fwbr">帳號</label>
                                                <input type="text" name="account" id="account" class="br-s p-1 d-block w-100 mb-2 b-n" value="{{userid}}" readonly>
                                                <div class="w-48 fl">
                                                    <label for="username" class=" fwbr">姓名</label>
                                                    <input type="text" name="username" id="username" class="d-block w-100 br-s mt-1 mb-5 p-1 b-n" >
                                                </div>
                                                <div class="w-48 fr">
                                                     <label for="photo" class=" fwbr">頭像</label>
                                                    <input type="file" name="photo" accept=".jpg,.png"  id="photo" class="d-block w-100 br-s mt-1 mb-4 p-1 b-n">
                                                </div>
                                                <div class="w-35 mr-2 fl">
                                                    <label for="gender" class=" fwbr mb-2 d-inline-block">性別</label><br>
                                                    {%  if gender == 'F' %}
                                                    <input type="radio" name="gender" id="gender" value="0" ><font class=" fwbr">男</font>
                                                    <input type="radio" name="gender" id="gender" value="1" checked><font class=" fwbr">女</font>
                                                    {% else %}
                                                    <input type="radio" name="gender" id="gender" value="0" checked><font class=" fwbr">男</font>
                                                    <input type="radio" name="gender" id="gender" value="1" ><font class=" fwbr">女</font>
                                                    {% endif %}
                                                </div>
                                                <div class="mb-5 w-48 fr">
                                                    <label for="birth" class=" fwbr">生日</label>
                                                    <input type="date" name="birth" id="birth" class="br-s p-1 b-n  d-block w-100 mt-1" required>
                                                </div>
                                                <div class="clearfix"></div>
                                                <label for="phone" class="dark-gray fz-s fwbr">手機</label>
                                                <input type="tel" name="phone" id="phone" class="br-s p-1 d-block w-100 mb-2 b-n" >
                                                <label for="mail" class="dark-gray fz-s fwbr">信箱</label>
                                                <input type="email" name="mail" id="mail" class="br-s p-1 d-block w-100 mb-2 b-n" >
                                            
                                                <div class="modal-footer ">
                                                    <button type="button" class="close__btn dark-gray b-n " data-bs-dismiss="modal">取消</button>
                                                    <button type="submit" class="personal__btn dark-gray b-n">確認</button>
                                                </div>
                                            </form>

                                            <form action="/update/" method="post"> 
                                                {% csrf_token %}
                                                <input name= 'update' type="hidden" value= 'password'>
                                                <label for="password" class="dark-gray fz-s fwbr">密碼修改區</label><br>
                                                <label for="password" class="dark-gray fz-s fwbr">密碼</label>
                                                <input type="password" name="password" id="password" class="br-s p-1 d-block w-100 mb-2 b-n"  required="required">
                                                <label for="password2" class="dark-gray fz-s fwbr">再次確認密碼</label>
                                                <input type="password" name="password2" id="password2" class="br-s p-1 d-block w-100 mb-2 b-n"  required="required">
                                            
                                                <div class="modal-footer ">
                                                    <button type="button" class="close__btn dark-gray b-n " data-bs-dismiss="modal">取消</button>
                                                    <button type="submit" class="personal__btn dark-gray b-n">確認</button>
                                                </div>
                                            </form >
                                            <!-- 4.資料更新成功 -->
                                            <!--
                                                <div class="tac">
                                                    <i class="fas fa-check fz-xxl light-green"></i>
                                                    <p class="fwb  fz-m mt-2">資料更新成功!</p>
                                                </div>
                                            --> 
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
           <div class="bank--area w-30 fl">
                   <div class="piggy--bank  w-100 br-m card-shadow second-white p-5 pl-8 pr-8">
                        <div class="d-flex jcsb mb-2">
                            <p>申請金額</p>
                            <div class="tar">
                                <p>1,000,000&nbsp;(TWD)</p>
                                <p>38,000&nbsp;(USD)</p>
                            </div>
                        </div>
                        <div class="d-flex jcsb mb-2">
                            <p>可用餘額</p>
                            <div class="tar">
                                <p>800,000&nbsp;(TWD)</p>
                                <p>30,000&nbsp;(USD)</p>
                            </div>
                        </div>
                        <div class="d-flex jcsb aic">
                        <i class="fas fa-piggy-bank fz-xxl"></i>
                        <h2 class="fz-l fwb">F<span class="second-yellow">u</span>tures <br> &nbsp;&nbsp;Warbl<span class="second-yellow">e</span>r</h2>
                        </div>
                   </div>
                   <div class="white-bg fl w-100 br-m card-shadow pt-10 pl-8 pr-6 pb-5 d-flex jcsb add--money">
                    <p class="fwbr mr-3 dark-gray">若餘額已全數使用完畢，<br>則可前往進行補倉設定</p>
                    <a href="" class="fr personal__btn dark-gray b-n tac fwb" data-bs-toggle="modal" data-bs-target="#exampleModal">前往加值</a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header p-3">
                                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-hand-holding-usd mr-3 ml-5 fz-m"></i>申請加值</h5>
                                <button type="button" class="b-n close__btn" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times fz-s"></i></button>
                                </div>
                                <form action="">
                                    <div class="modal-body  p-4  gray-bg">
                                        <div class=" w-80 m0-a">
                                                <div class="tac">
                                                <p class="fwb ">請輸入欲加值金額!!</p>
                                                </div>
                                                <label for="TWD" class="dark-gray fz-s fwbr">台幣(TWD)</label>
                                                <input type="text" name="TWD" id="TWD" class="br-s p-1 d-block w-100 mb-2 b-n">
                                                <label for="USD" class="dark-gray fz-s fwbr">美金(USD)</label>
                                                <input type="text" name="USD" id="USD" class="br-s  p-1 d-block w-100 b-n">
                                        </div>
                                    </div>
                                    <div class="modal-footer ">
                                        <button type="button" class="close__btn dark-gray b-n " data-bs-dismiss="modal">取消</button>
                                        <button type="button" class="personal__btn dark-gray b-n">確認</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                   </div>
                </div>
                <div class="fl white-bg w-100 br-m mr-3pct card-shadow mt-6 pb-4">
                    <div class="d-flex jcsb aic b-bottom p-4 pl-5 pr-5">
                        <h2><i class="fas fa-bookmark mr-3"></i>策略清單</h2>
                        <a href="/strategy/"  class="fr personal__btn dark-gray b-n fwb">查看更多</a>
                    </div>
                    <table class="w-100 tac mt-5 trade--table ">
                        <tr class="fwb">
                            <th>序號</th>
                            <th>策略<br>類型</th>
                            <th>商品<br>代號</th>
                            <th>商品<br>名稱</th>
                            <th>資料<br>週期</th>
                            <th>開始<br>時間</th>
                            <th>結束<br>時間</th>
                            <th>技術<br>指標一</th>
                            <th>技術<br>指標二</th>
                            <th>進場<br>策略</th>
                            <th>出場<br>策略</th>
                            <th>演算法</th>
                        </tr>
                        <tr class="trade--table__item">
                            <td>1</td>
                            <td>一般交易</td>
                            <td>MNQ</td>
                            <td>小那斯達克</td>
                            <td>1分鐘</td>
                            <td>2020/10/11</td>
                            <td>2021/5/31</td>
                            <td>-</td>
                            <td>-</td>
                            <td>均線策略</td>
                            <td>均線策略</td>
                            <td>-</td>
                        </tr>
                        <tr class="trade--table__item">
                            <td>2</td>
                            <td>智能交易</td>
                            <td>MES</td>
                            <td>小S&P</td>
                            <td>5 分鐘</td>
                            <td>2001/03/11</td>
                            <td>2008/09/25</td>
                            <td>MACD指標</td>
                            <td>DMI趨向指標</td>
                            <td>MA快線向上突破慢線</td>
                            <td>空單K值向上跌破D值</td>
                            <td>隨機森林</td>
                        </tr>
                        <tr class="trade--table__item">
                            <td>3</td>
                            <td>智能交易</td>
                            <td>TY</td>
                            <td>十年美國債劵</td>
                            <td>3 週</td>
                            <td>2005/09/01</td>
                            <td>2011/05/03</td>
                            <td>威廉指標</td>
                            <td>BIAS乖離率</td>
                            <td>RSI < 50及MA向下跌破</td>
                            <td>停損RSI < 30</td>
                            <td>SVM支援向量機</td>
                        </tr>
                        <tr class="trade--table__item">
                            <td>4</td>
                            <td>一般交易</td>
                            <td>C</td>
                            <td>玉米</td>
                            <td>1 個月</td>
                            <td>2018/06/24</td>
                            <td>2021/08/23</td>
                            <td>BIAS乖離率</td>
                            <td>EMA指數平均數指標</td>
                            <td>ORB策略</td>
                            <td>ORB策略</td>
                            <td>Ada Boost</td>
                        </tr>
                    </table>
                </div>
               <div class="fl white-bg w-100 br-m mr-3pct card-shadow mt-6 pb-4">
                    <div class="d-flex jcsb aic b-bottom p-4 pl-5 pr-5">
                        <h2><i class="fas fa-exchange-alt mr-3"></i>交易紀錄</h2>
                        <a href="/transactionRecord/"  class="fr personal__btn dark-gray b-n fwb">查看更多</a>
                    </div>
                    <table class="w-100 tac mt-5 trade--table">
                        <tr class="fwb">
                            <th>序號</th>
                            <th>商品代號</th>
                            <th>商品名稱</th>
                            <th>狀態</th>
                            <th>持倉價格</th>
                            <th>持倉時間</th>
                            <th>持倉數量(口)</th>
                            <th>平倉價格</th>
                            <th>平倉時間</th>
                            <th>平倉數量(口)</th>
                            <th>投資報酬率</th>
                        </tr>
                        <tr class="trade--table__item">
                            <td>1</td>
                            <td>MNQ</td>
                            <td>小那斯達克</td>
                            <td>未平倉</td>
                            <td>30,000</td>
                            <td>2021/12/11 07:12</td>
                            <td>5</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr class="trade--table__item ">
                            <td>2</td>
                            <td>TX</td>
                            <td>大台指期</td>
                            <td>平倉</td>
                            <td>30,000</td>
                            <td>2021/12/01 07:12</td>
                            <td>3</td>
                            <td>32,000</td>
                            <td>2021/12/08 10:22</td>
                            <td>2</td>
                            <td class="light-green fwb">+ 1.98</td>
                        </tr>
                        <tr class="trade--table__item  ">
                            <td>3</td>
                            <td>MNQ</td>
                            <td>小那斯達克</td>
                            <td>平倉</td>
                            <td>130,000</td>
                            <td>2021//12/01 11:15</td>
                            <td>6</td>
                            <td>80,000</td>
                            <td>2021//09/28 17:26</td>
                            <td>6</td>
                            <td class="dark-red fwb">- 2.55</td>
                        </tr>
                        <tr class="trade--table__item ">
                            <td>4</td>
                            <td>MX</td>
                            <td>小台指期</td>
                            <td>未平倉</td>
                            <td>120,000</td>
                            <td>2021/09/10 08:34</td>
                            <td>4</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </table>
                </div>
        </div>
    </div>
</div>
{% endblock %}