<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Warbler-帳戶註冊</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/robot.jpg' %}" type="image/x-icon">
    <meta name='description' content="Future Warbler" />
    <meta name="keywords" content="期貨, 期貨模擬交易, 智能機器人, Future Warbler">
    <meta property="og:title" content="Future Warbler" />
    <meta property="og:description" content="期貨模擬交易平台">
    <meta property="og:type" content="website" /> 
    <meta property="og:url" content="FB上的網址" />
    <meta property="og:image" content="{% static 'img/robot.jpg' %}"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <div class="wrap d-flex jcc">
        <div class="fz-xxl fwb pl-27 w-50 pt-33 pb-33">
            <h2 class="mb-2">歡迎光臨</h2>
            <h1 class="ml-8 lh-s">F<span class="second-yellow">u</span>ture <br> &nbsp;&nbsp;&nbsp;&nbsp;Warbl<span class="second-yellow">e</span>r </h1>
            <img src="{% static 'img/robot-little.png' %}" class="w-35 fr mr-20" alt="小型機器人">
            <div class="clearfix"></div>
        </div>
        <div class="register_form pt-10 p-6 w-50 ">
            <div class="w-80 m0-a pl-5">
                <h2 class="fz-xxl fwb mb-8 second-white">Register</h2>
                <form action="." class="w-80">
                    <label for="account" class="second-white fwbr">帳戶</label>
                    <input type="text" name="account" id="account" class="d-block w-100 br-s mt-1 mb-4 p-1 b-n">
                    <label for="password" class="second-white fwbr">密碼</label>
                    <input type="text" name="password" id="password" class="d-block w-100 br-s mt-1 mb-5 p-1 b-n">
                    <div class="w-48 fl">
                        <label for="name" class="second-white fwbr">姓名</label>
                        <input type="text" name="name" id="name" class="d-block w-100 br-s mt-1 mb-5 p-1 b-n">
                    </div>
                    <div class="w-48 fr">
                        <label for="photo" class="second-white fwbr">頭像</label>
                        <input type="file" name="photo" id="photo" class="d-block w-100 br-s mt-1 mb-5 p-1 b-n">
                    </div>
                    <div class="w-35 mr-2 fl">
                        <label for="gender" class="second-white fwbr mb-2 d-inline-block">性別</label><br>
                        <input type="radio" name="male" id="gender"><font class="second-white fwbr">男</font>
                        <input type="radio" name="female" id="gender"><font class="second-white fwbr">女</font>
                    </div>
                    <div class="mb-5 w-48 fr">
                        <label for="birth" class="second-white fwbr">生日</label>
                        <input type="date" name="birth" id="birth" class="br-s p-1 b-n  d-block w-100 mt-1">
                    </div>
                    <div class="clearfix"></div>
                    <label for="phone" class="second-white fwbr">手機</label>
                    <input type="tel" name="phone" id="phone" class="d-block w-100 br-s mt-1 mb-5 p-1 b-n">
                    <label for="mail" class="second-white fwbr">信箱</label>
                    <input type="email" name="mail" id="mail" class="d-block w-100 br-s mt-1 mb-5 p-1 b-n">
                    <input type="button" value="register" id="register_success" class="d-block w-100 br-s b-n p-2 fz-m second-yellow-bg text-shadow register_btn dark-gray">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    document.getElementById("register_success").addEventListener("click",function(){
        swal("註冊成功!", "您將被帶回登入首頁!", "success");
      });
</script>