.class__content{
    .tag{
        flex-wrap: wrap;
        a{
            transition: 0.5s all;
            &:hover{
                background-color: $text_color;
                color: $primary_color;
            }
        }
    }
    .realitive--article{
       li{
           &:hover{
               background: #f3f2f2;
           }
        }
       h3{
           &:hover{
               color: #226F7D;
            }
        }
    }
    .near--page__btn{
        background: $primary_color;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        font-size: 16px;
        &:hover{
            color: $second_color;
            background: #1C383E;
           transition: 0.1s;
        }
    }

}