.class{
    .main{
        margin: 60px 0px 90px;
        a{
            background-color: $primary_color;
            color: $text_color;
            transition: 0.5s all;
            border-radius: 40px;
            &:hover{
                background-color: $text_color;
                color: $primary_color;
            }
        }
        img{
            width: 400px;
            height: 300px;
            border-radius: 20px 20px 0px 0px;
        }
    }
    
    .content{
        border-radius: 0px 0px 20px 20px;
    }
}