.forum{
    .topnav{
        background: #BFB595;
        border-radius: 10px;
        a{
            color: $text_color;
            &:hover{
                background-color: $text_color;
                color: #ebcf46;
                border-radius: 10px;
            }
        }
        input{
            font-size: 16px;
            width: 100%;
            border-radius: 5px 0 0 5px;
            border-style: unset;
        }
        button{
            border-style: unset;
            border-radius: 0 5px 5px 0;
            &:hover{
                background-color: #ebcf46;
            }
        }
    }
    .forum-main{
        border-radius: 10px;
        img{
            width: 100px;
            height: 100px;
        }
        .icon i{
            color: $text_color;
            &:hover{
                color: #BFB595;
            }
        }
    }
    .content{
        h3{
            font-size: 16px;
            color: $text_color;
            transition: 0.3s all;
            &:hover{
                color: #BFB595;
            }
        }
        p{
            font-size: 14px;
        }
    }
    .border-bottom{
        border-bottom: 1px solid darkgray;
    }
    .pagination a{  
        color: $text_color;
        transition: 0.3s all;
        &:hover{
            color: #ebcf46;
        }
    }
    .write{
        position: fixed;
        right: 50px;
        bottom: 50px;
        img{
            width: 50px;
            height: 50px;
        }
    }
}