$primary_color: #FFDD00;
$second_color:#FAFAFA;
$text_color:#4F4E4B;

//width
.w-20{
    width: 20%;
}
.w-100{
    width: 100%;
}
.w-30{
    width: 30%;
}
.w-35{
    width: 35%;
}
.w-40{
    width: 40%;
}
.w-48{
    width: 48%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-65{
    width: 65%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}

//height
.h-60{
    height: 60%;
}

//margin
.m0-a{
    margin: 0 auto;
}
.mt-1{
    margin-top: 5px;
}
.mb-1{
    margin-bottom: 5px;
}
.m-2{
    margin: 10px;
}
.mt-2{
    margin-top: 10px;
}
.mb-2{
    margin-bottom: 10px;
}
.mr-2{
    margin-right: 10px;
}
.ml-2{
    margin-left: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mb-3{
    margin-bottom: 15px;
}
.mr-3{
    margin-right: 15px;
}
.mt-4{
    margin-top: 20px;
}
.mb-4{
    margin-bottom: 20px;
}
.mr-4{
    margin-right: 20px;
}
.ml-4{
    margin-left: 20px;
}
.mb-5{
    margin-bottom: 25px;
}
.mr-5{
    margin-right: 25px;
}
.ml-5{
    margin-left: 25px;
}
.mt-5{
    margin-top: 25px;
}
.mt-6{
    margin-top: 30px;
}
.mb-6{
    margin-bottom: 30px;
}
.mt-7{
    margin-top: 35px;
}
.ml-8{
    margin-left: 40px;
}
.mb-8{
    margin-bottom: 40px;
}
.mr-10{
    margin-right: 50px;
}
.mt-10{
    margin-top: 50px; 
}
.mb-10{
    margin-bottom: 50px;
}
.mb-12{
    margin-bottom: 60px;
}
.mt-15{
    margin-top: 75px;
}
.mb-15{
    margin-bottom: 75px;
}
.mr-15{
    margin-right: 75px;
}
.ml-15{
    margin-left: 75px;
}
.mr-20{
    margin-right: 100px;
}
.ml-16{
    margin-left: 80px;
}
.ml-28{
    margin-left: 144px;
}
.mr-3pct{
    margin-right: 3%;
}
.mr-4pct{
    margin-right: 4%;
}


// padding
.p-1{
    padding: 5px;
}
.pt-1{
    padding-top: 5px;
}
.pb-1{
    padding-bottom: 5px;
}
.pl-1{
    padding-left: 5px;
}
.pr-1{
    padding-right: 5px;
}
.p-2{
    padding: 10px;
}
.pt-2{
    padding-top: 10px;
}
.pb-2{
    padding-bottom: 10px;
}
.p-3{
    padding: 15px;
}
.pt-3{
    padding-top: 15px;
}
.pb-3{
    padding-bottom: 15px;
}
.pl-3{
    padding-left: 15px;
}
.pr-3{
    padding-right: 15px;
}
.p-4{
    padding: 20px;
}
.pl-4{
    padding-left: 20px; 
}
.pr-4{
    padding-right: 20px; 
}
.pt-4{
    padding-top: 20px;
}
.pb-4{
    padding-bottom: 20px;
}
.p-5{
    padding: 25px;
}
.pl-5{
    padding-left: 25px;
}
.pr-5{
    padding-right: 25px;
}
.pb-5{
    padding-bottom: 25px;
}
.p-6{
    padding: 30px;
}
.pr-6{
    padding-right: 30px;
}
.pb-6{
    padding-bottom: 30px;
}
.pt-8{
    padding-top: 40px;
}
.pl-8{
    padding-left: 40px;
}
.pr-8{
    padding-right: 40px;
}
.pt-10{
    padding-top: 50px;
}
.pb-11{
    padding-bottom: 55px;
}
.pb-21{
    padding-bottom: 105px;
}
.pr-21{
    padding-right: 105px;
}
.pl-27{
    padding-left: 135px;
}
.pt-33{
    padding-top: 165px;
}
.pb-33{
    padding-bottom: 165px;
}

// display
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.d-inline{
    display: inline;
}
.d-inline-block{
    display: inline-block;
}
.d-none{
    display: none;
}

// flex-direction
.row-reverse{
    flex-direction: row-reverse;
}
.column{
    flex-direction: column;
}

// justify-content
.jcfe{
    justify-content: flex-end;
}
.jcsb{
    justify-content: space-between;
}
.jcsa{
    justify-content: space-around;
}
.jcc{
    justify-content: center;
}

// align-items
.aic{
    align-items: center;
}


// font-weight
.fwb{
    font-weight: bold;
}
.fwbr{
    font-weight: bolder;
}

// font-size{
.fz-xs{
    font-size: 10px;
}
.fz-s{
    font-size: 14px;
}
.fz-m{
    font-size: 20px;
}
.fz-l{
    font-size: 24px;
}
.fz-xl{
    font-size: 30px;
}
.fz-xxl{
    font-size: 48px;
}

//line-height
.lh-s{
    line-height: 1.5;
}
// font-family
.engfont{
    font-family: 'Pinyon Script', cursive;
}

// text-align
.tac{
    text-align: center;
}
.tar{
    text-align: right;
}
.tal{
    text-align-last: left;
}

// color
.gray-bg{
    background: #EFEFEF;
}
.dark-gray{
    color: #4F4E4B;
}
.white{
    color: white;
}
.white-bg{
    background: #FFF;
}
.second-white{
    color: #FAFAFA;
}
.second-white-bg{
    background: #FAFAFA;
}
.black{
    color:black;
}
.yellow-bg{
    background: #FDF9E5;
}
.second-yellow{
    color: #FFDD00;
}
.second-yellow-bg{
    background: #FFDD00;
}
.green{
    color: #226F7D;
}
.light-green{
    color: rgb(49, 189, 45);
}
.dark-red{
    color: rgb(192, 19, 19);
}
.dark-red-bg{
    background: rgb(192, 19, 19);
}

//border-radius
.br-s{
    border-radius: 5px;
}
.br-m{
    border-radius: 10px;
}
.br-l{
    border-radius: 15px;
}

//border-none
.b-n{
    border: none;
}
//float
.fr{
    float: right;
}
.fl{
    float: left;
}

//清除浮動
.clearfix{
    clear: both;
}
/*
//shadow
.text-shadow{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.drop-shadow{
    filter: drop-shadow(1px 3px 8px rgba(73, 73, 73, 0.2));
}
*/
//background-img
.bg-img{
    background: url(../img/001.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

//chosed-menu
.chosed{
    border-left: $primary_color solid 2px;
    background-color: #0F2E4F;
}

//position
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}

// hide-text
@mixin hide-text {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

// bg-img-set
@mixin bg-img-set {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}