.news{
    .topnav{
        background: #4599d5;
        a{
            &:hover{
<<<<<<< HEAD
                background-color: #1C383E;
=======
                background-color: #0F2E4F;
>>>>>>> 94e1d0eb07123b74a8e360f3241b1b727173ee05
                border-radius: 10px;
            }
        }
    }
    img{
        width: 120px;
        height: 100px;
    }
    .content-left li a,.content-right li a{
        &:hover{
            background: #f3f2f2;
            h3{
                color: rgba(9, 44, 81, 0.88);
                text-decoration: underline;
            }
        }
    }

}