.register_form{
    background: linear-gradient(180deg, rgba(37, 62, 67, 0.72) 0%, #041B1F 100%);
    .register_btn{
        &:hover{
            background: #fffb00;
            color: #1C383E;
        }
    }
    .back_btn{
        &:hover{
            background: #c7c7c7;
            color: #FAFAFA;
        }
    }
}