.trade--order__content{
    .piggy--bank{
        background: linear-gradient(180deg, #072036 0.01%, #1A568D 100%);
        z-index: 99;
        .fa-piggy-bank{
            color: linear-gradient(180deg, #DCDCDC 100%, #C0C0C0 100%);
        }
    }
    .trade--option{
        width: 100px;
    }
    .trade__btn{
        background: $primary_color;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        padding: 10px 12px;
        font-size: 16px;
        &:hover{
            color: $second_color;
            background: #1C383E;
           transition: 0.1s;
        }
    }
}